<!DOCTYPE html>
<html>
  <head>
    <%- include common/meta.ejs %>
    <title>国防教育管理系统</title>
    <link rel="stylesheet" type="text/css" href="css/index/info.css"/>
  </head>
  <body>
    <%- include common/header.ejs %>
    <input type="hidden" id="title" value="<%= title %>">
    <div class="container" style="padding:0 ;">
      <ol class="breadcrumb" style="border-radius:0;">
        <li>
          <a href="index">首页</a>
        </li>
        <li>
          <a href="<%= link%>"><%= title%></a>
        </li>
        <li class="active">
          <%= subtitle%>
        </li>
      </ol>
      <div class="" style="padding: 0 15px;" ><%= content%></div>
    </div>
    <%- include common/footer.ejs %>
    <script>
    
      if($('#title').val() == '中心介绍' ){
        $('#nav_desc').addClass('active');  
      }

      if($('#title').val() == '管理机构' ){
        $('#nav_units').addClass('active');  
      }

      if($('#title').val() == '关于我们' ){
        $('#nav_about').addClass('active');  
      }
      
      $(document).ready(function() {
      });
    </script>
  </body>
</html>
