<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include ../common/meta.ejs %>
    <link rel='stylesheet' href='css/article/detail.css' />
  </head>
  <body>
  	<input type="hidden" id="article_id" value="<%= id %>">
  	<div class="container">
      <% if(type == 1){%>
    	<div class="article-title" >
        <%= title %>
        <div class="btn-wrapper">
          <% if(isAdmin){%><span id="btn_check" class="u-button edit">审核</span><% } %>
          <% if(isAdmin){%><span id="btn_edit" class="u-button edit">编辑</span><% } %>
        </div>
      </div>
    	<div class="article-info" >
    		<span class="article-date">发布时间：<%= update_time %></span>
    		<span class="article-author">作者：<%= author %></span>
    	</div>
    	<div id="article_content" class="article-content" ><%- content %></div>
      <% }else if(type == 2){%>
      <div class="article-title" >
        <%= title %>
        <div class="btn-wrapper">
          <% if(isAdmin){%><span id="btn_check" class="u-button edit">审核</span><% } %>
          <% if(isAdmin){%><span id="btn_edit" class="u-button edit">编辑</span><% } %>
        </div>
      </div>

      <div class="t-input">
        <label>资源标题</label>
        <span class="text"><%= title %></span>
      </div>
      <div class="t-input">
        <label>作者名称</label>
        <span class="text"><%= author %></span>
      </div>
      <div class="t-input">
        <label>发布时间</label>
        <span class="text"><%= update_time %></span>
      </div>
      <div class="t-input">
        <label>资源描述</label>
        <span class="text"><%= description %></span>
      </div>
      <div class="t-input">
        <label>资源链接</label>
        <span class="text">
          <i class="ico ico-<%= file_type %>"></i>
          <a href="<%= file_name %>" download="<%- org_name %>"><%- org_name %></a>
        </span>
      </div>
      <div class="t-input">
        <label>所属栏目</label>
        <div class="u-select-p">
        <% if(typeof menuList != 'undefined'){%>
        <% for(var index in menuList) { %> 
        <% var menu = menuList[index]; %> 
        <span class="s-menu" data-id="<%= menu.id %>" ><%= menu.name %></span>
        <% } %> 
        <% } %> 
        </div>
      </div>
      <% } %>
    	<div class="footer"></div>
	</div>
	<script type="text/javascript" src='js/admin/article/detail.js'></script>
	
	<script type="text/javascript">
		$(document).ready(function(){
      console.log(1);
			moka.article.detail.init();
		});
	</script>
  </body>
  </body>
</html>

